
<script>
    $(function(){
        $(".element").typed({
            strings: ["First sentence.", "Second sentence."],
            typeSpeed: 0,
            loop: true
        });
    });
</script>

<div class="element" style="display: inline;"></div>