
<div class="elementContainer">
  <div class="element" style="display: inline;">...</div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-md-8 col-sm-8 col-xs-8">
          <textarea id="content" name="content"></textarea>
         <!-- <input  class="wideInput" type="text" name="content" id="content"><br> -->

           <form id="myForm" action="">
              <input id="radio_button1" type="radio" name="when" value="later"> later
              <p>  </p>
              <input id="radio_button2" type="radio" name="when" value="date"> date
           </form>

           <input type="text" id="datepicker">
           <input type="email" name="email" id="email"  placeholder="email">

      </div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>
  </div>

</div>
