

<div class="container-fluid text-center">
    <h1 class="Title"> Title </h1>
    <h2 class="subTitle"> Sub Title </h2>
    <h3 class="description"> Description </h3>
</div>


<div class="container-fluid text-center bodyLetter">


    <div class="container-fluid typedPhrases" id="areaText">
        <textarea id="content" name="comment" form="usrform" placeholder="write here..." autofocus></textarea>
    </div>


    <div class="container-fluid typedPhrases" id="typedText">
        <div class="element" id="boxTypedPhrases">...</div>
    </div>


    <div id="listOfButtons">
        <button class="button" id="firstButton" style="z-index:3;">Button1</button>
        <button class="button" id="secondButton" style="z-index:2;">Button2</button>1
        <button class="button" id="thirdButton" style="z-index:1;">Button3</button>
    </div>



</div>

<div class="container-fluid text-center picker">

        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-md-8 col-sm-8 col-xs-8">

               <!-- <textarea id="content" name="content"></textarea> -->
                <!-- <input  class="wideInput" type="text" name="content" id="content"><br> -->


                <input type="text" id="datepicker">
                <input type="email" name="email" id="email"  placeholder="email">

            </div>
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
        </div>


    </div>



